<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.dao.GoodsDao">

    <cache />
    <select id="selectGoods" resultType="Goods">
        select goods_id,goods_img,goods_name,type,goods_spe,goods_price,add_time
        from tb_goods
    </select>

    <insert id="insertGoods" parameterType="Goods">
        insert  into  tb_goods(goods_name,goods_price,goods_img,add_time,type)
         values (#{goods_name},#{goods_price},#{goods_img},#{add_time},#{type})
    </insert>

    <delete id="deleteGoods" parameterType="Goods">
        delete from tb_goods where goods_id = #{goods_id} and goods_name = #{goods_name}
    </delete>

    <select id="selectGoodsByType" parameterType="Goods" resultType="Goods">
        select goods_id,goods_img,goods_name,type,goods_spe,goods_price,add_time
        from tb_goods
         <where>
             <if test="type == '商品ID'">goods_id like concat('%',#{title},'%')</if>
             <if test="type == '商品名'">goods_name like concat('%',#{title},'%')</if>
             <if test="type == '分类'">type like concat('%',#{title},'%')</if>
         </where>
        order by add_time desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from tb_goods
    </select>

</mapper>
