<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hp.dao.OrderDao">

    <cache />
    <select id="selAllOrders" resultMap="selAllOrdersMap">
        select
            order_id, goods_id, goods_name,addr_name,
            tb_user.oppen_id, tb_order.add_time,
            tb_order.status,realname,tb_user.cityName
        from tb_order inner join tb_user
        on tb_order.oppen_id = tb_user.oppen_id
        <where>
            <if test="type == 'order_id'">order_id like concat('%',#{title},'%') </if>
            <if test="type == 'goods_name'">goods_name like concat('%',#{title},'%')</if>
            <if test="type == 'realname'">realname like concat('%',#{title},'%')</if>
        </where>
        order by add_time
        <if test="sort == '+id'">desc</if>
        limit #{startIndex}, #{pageSize}
    </select>

    <resultMap id="selAllOrdersMap" type="ClientUserWithOrder">
        <association property="user" javaType="ClientUser">
            <id property="user_id" column="user_id"/>
            <id property="oppen_id" column="oppen_id"/>
            <result property="realname" column="realname"/>
            <result property="add_time" column="add_time"/>
            <result property="cityName" column="cityName"/>
        </association>
        <association property="order" javaType="Order">
            <id property="order_id" column="order_id"/>
            <result property="goods_id" column="goods_id"/>
            <result property="goods_name" column="goods_name"/>
            <result property="addr_name" column="addr_name"/>
            <result property="oppen_id" column="oppen_id"/>
            <result property="add_time" column="add_time"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>
    <select id="selCount" resultType="int">
        select count(*) from tb_order
    </select>
    <select id="selCountByOpenId" parameterType="string" resultType="int">
        select count(*) from tb_order
        where oppen_id = #{openid}
    </select>
    <select id="selCountByGoodsName"  parameterType="string" resultType="int">
        select count(*) from tb_order
        where goods_name = #{goodsname}
    </select>
    <select id="selCountByRealName"  parameterType="string" resultType="int">
        select count(*)
        from tb_order inner join tb_user
        on tb_user.oppen_id = tb_order.oppen_id
        where tb_user.realname = #{realname}
    </select>
    <insert id="saveOrder" parameterType="Order">
        insert into tb_order
            (order_id,goods_id,goods_name,
             addr_name,oppen_id,add_time,status)
        values (#{order_id},#{goods_id},#{goods_name},#{addr_name},#{oppen_id},now(),0);
    </insert>
    <update id="payOrderByOpenId" parameterType="Order">
        update tb_order
        set status = 1
        where order_id = #{order_id};
    </update>
    <update id="finishOrder" parameterType="Order">
        update tb_order
        set status = 1
        where order_id = #{order_id};
    </update>
    <update id="updateStatusByOpenId" parameterType="Order">
        UPDATE tb_order
        SET status =
            CASE status
            WHEN 0 THEN 1
            WHEN 1 THEN -6
            WHEN -6 THEN -6
        END
        where order_id = #{order_id}
    </update>

    <select id="selectAddr_name" resultType="Order">
        select addr_name from tb_order where status = 1
    </select>



</mapper>
