<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.UserDao">
    <select id="selectUser" resultType="User">
        select token from users where username = #{userName} and password = #{passWord}
    </select>
    <select id="selectClientUserByRealName" resultType="User">
        select  distinct
        user_id, oppen_id, username, realname, password, head_img, add_time, area_id, area_name, status, member_time, integral, referrer, createdUser, modifiedTime, modifiedUser, QRCode, cityName, country, province
        from tb_user where realname = #{realname};
    </select>
</mapper>
