<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.UserDao">
    <select id="selectUser" resultType="User">
        select token from users where username = #{userName} and password = #{passWord}
    </select>
</mapper>
